@{
    Layout = null; // Không sử dụng layout chung
}
@model List<Kinhdoanhtraicay.Models.Product>
<style>
    body 
    {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header 
    {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    h1 
    {
        margin: 0;
    }

    nav 
    {
        background-color: #f5f5f5;
        padding: 10px;
        text-align: center;
    }

        nav a {
            color: #333;
            text-decoration: none;
            margin: 0 10px;
        }
    h2
    {
        text-align:center;
    }
    table 
    {
        border-collapse: collapse;
        width: 80%;
    }   
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    button
    {
        text-decoration:none;
    }
</style>
<body>
    <header>
        <h1>Quản lý hệ thống</h1>
    </header>
    <nav>
        <a href="@Url.Action("Index", "Product")">Danh sách sản phẩm</a>      
        <a href="@Url.Action("Index", "Customer")">Người dùng</a>
        <a href="@Url.Action("Index", "Orders")">Đơn hàng</a>
    </nav>
<h2>Danh sách sản phẩm</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Mô tả</th>
            <th>Giá (đồng/kg)</th>
            <th>Số lượng trong kho (kg)</th>
            <th>Hình ảnh</th>
            <th>
                @using (Html.BeginForm("Create", "Product", FormMethod.Get))
                {
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.StockQuantity</td>
                <td>
                    <img style="width:50px; height:50px" src="" alt="Hình ảnh mô tả" />
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Product", new { id = product.ProductId })" class="button">Sửa</a>
                    <a href="@Url.Action("Delete", "Product", new { id = product.ProductId })" class="button">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</body>